 @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap'); 

 :root{
  --primary-white: #fff;
  --primary-blue: rgb(4, 180, 255);
  --primary-dark: rgba(255,255,255,0);
 }

 body{
  font-style: "Coboto Condensed" sans-serif;
 }
/************************* NAVBAR **********************************/
.logo{
  height: 1.875rem;
  width: auto;
}
/*----- NAV LINKS -----*/
.nav-link{
  font-weight: 100;
  letter-spacing: 0.17rem;
  cursor: pointer;
  font-size: 0.5rem !important;
  border-top: 3px solid var(--primary-dark);
}

ul li a{
  margin-left: 0.4rem;
  text-transform: uppercase;
}
.navbar-nav > li > a{
  color: var(--primary-white);
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 3px solid var(--primary-blue);
  color: #fff !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:hover{
  border-top: 3px solid var(--primary-blue);
  color: #fff;
}